/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(8, 1, 39);
    color: rgb(176, 171, 171);
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
}
.noncurser{
    cursor: auto;
}
.curser{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
